
<div class="page-header header-filter"
	style="background-image: url('assets/img/header.jpg'); height: 580px;">
	<div style="background-color: rgba(0, 0, 0, 0.6); height: 580px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="title" id="scroll-to">
						Work <span style="color: #ff5531;">Hard.</span> Party <span
							style="color: #ff5531;">Harder!</span>
					</h1>
					<h4 style="color: #fff;">
						Plan your celebration on Fete to make your moments unforgettable !
						<br> The easiest way to find out best place for celebration
						in your town. <br>
					</h4>
					<button class="btn btn-danger" style="background-color: #ff5531;">Plan
						Your Event</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main main-raised">
	<div class="section">
		<div class="container"></div>
	</div>

	<div class="section">
		<div class="container">

			<!-- Container (Contact Section) -->
			<div id="contact"
				style="margin-bottom: 20px; background-color: #ffffff;">
				<h2 class="text-center" style="padding-top: 30px;">CONTACT</h2>
				<div class="row" style="margin-top: 50px;">
					<div class="col-sm-4 col-sm-offset-1">
						<p>Contact us and we'll get back to you within 24 hours.</p>
						<p>
							<i class="fa fa-map-marker" aria-hidden="true"></i> Ujjain, India
						</p>
						<p>
							<i class="fa fa-mobile" aria-hidden="true"></i> +91 7898555253
						</p>
						<p>
							<i class="fa fa-envelope" aria-hidden="true"></i>
							support@Fete.com
						</p>
					</div>
					<div class="col-sm-6 slideanim">
						<div class="row">
							<div class="col-sm-6 form-group">
								<input class="form-control" id="name" name="name"
									placeholder="Name" type="text" required>
							</div>
							<div class="col-sm-6 form-group">
								<input class="form-control" id="email" name="email"
									placeholder="Email" type="email" required>
							</div>
						</div>
						<textarea class="form-control" id="comments" name="comments"
							placeholder="Comment" rows="5"></textarea>
						<br>
						<div class="row">
							<div class="col-sm-12 form-group">
								<button class="btn btn-default pull-right" type="submit">Send</button>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>



</div>

<script>
	var element_position = $('#scroll-to').offset().top;

	$(window).on('scroll', function() {
		var y_scroll_pos = window.pageYOffset;
		var scroll_pos_test = element_position;

		if (y_scroll_pos > scroll_pos_test) {
			//do stuff
			$('#nav').removeClass("navbar-transparent");
		} else if (y_scroll_pos < scroll_pos_test) {
			$('#nav').addClass("navbar-transparent");
		}
	});
</script>