<nav id="nav" class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll" data-ng-controller="loginController">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a href="index.html">
           <div class="logo-container">
                <div class="logo">
                    <img src="assets/img/new_logo.png" alt="Creative Tim Logo">
                </div>
                <div class="mainbrand">
                    Fete
                </div>
            </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
		<ul  class="nav navbar-nav navbar-right">
			 <li><a href="#home" ng-hide="sessionUser">Home</a></li>
        <li><a href="#userDashboard" ng-show="sessionUser">Home</a></li>
        <li><a href="#" ng-hide="sessionUser">Plan Your Event</a></li>
        <li><a href="#" ng-hide="sessionUser">Venues</a></li>
        <li><a href="#" ng-hide="sessionUser">Packages</a></li>
         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 16px"></i> &nbsp Ujjain</a>
        <ul class="dropdown-menu">
            <li><a href="">Ujjain</a></li>
          </ul>
        </li>
         <!-- <li><a href="login.html" ng-hide="sessionUser"><i class="fa fa-sign-in" aria-hidden="true" style="font-size: 16px"></i> &nbsp Login</a></li> -->
        <li><a href="" data-toggle="modal" data-target="#loginModal" ng-hide="sessionUser"><i class="fa fa-sign-in" aria-hidden="true" style="font-size: 16px"></i> &nbsp Login</a></li>
        <li><a href="" ng-show="sessionUser"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 16px"></i> &nbsp Logout</a></li>
    	</ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="container-fluid">
		<div class="row" style="background-color: #ff5531;">
		
			<div class="col-sm-5" style="background-color: #ff5531; color: #ffffff; padding: 20px; height: 100%">
				<h1 class="title">Fete</h1>
				<h3 style="margin-top: 100px;">Login</h3>
				<h5 style="margin-top: 30px;">Login to get access to your plans, quick search etc.</h5>
			</div>
			
			<div class="col-sm-7" style="background-color: #f1f1f1;" flex><div>
				 <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #111111; padding: 5px; margin-top: 10px;">
		<span aria-hidden="true"><i class="material-icons">clear</i></span>
	  </button><br>
				<div align="center" style="width: 90px; height: 90px; border-radius: 50%; background-color: #ffffff; margin: auto; margin-top: 50px; padding: 15px; font-size: 50px;"><i class="fa fa-user" aria-hidden="true"></i></div>
				<div>
				<div style="margin-top: 5px; text-align: center;" id="message">{{message}}</div>
				
				<div>
				
					<form class="form-horizontal" style="margin-top: 20px;">
    <div class="form-group">
      <div class="col-sm-12">
      <div class="input-group">
      <span class="input-group-addon"><i class="material-icons">group</i></span>
     <input type="text" class="form-control" placeholder="Enter unique ID/email/mobile number" name="email" data-ng-model="login.feteId">
      </div></div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">    
       <div class="input-group">
    	<span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true" style="font-size: 24px;"></i></span>     
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" data-ng-model="login.password">
      </div></div>
    </div>
    <div class="form-group">
    	<div class="col-sm-12">
    		 <div class="checkbox">
          <label class="checkbox-inline" style="margin-left: 15px;"><input type="checkbox" name="remember"> Remember me</label>
        	<label class="checkbox-inline" style="margin-left: 65px; margin-top: 5px;"><a href="" style="color: #aaaaaa;">Forgot Password?</a></label>
        </div>  
    	</div>
    </div>
    <div class="form-group">        
      <div class="col-sm-12">
        <button type="submit" class="btn btn-default" style="width:100%; color: #ffffff;border-radius:0px; background-color: #ff5531;" data-ng-click="loginUser(login);">Login</button>
        <button class="btn btn-default" style="width:100%; color: black;border-radius:0px; background-color: #ffffff; ">New User? Register</button>
      </div>
    </div>
  </form>
				</div>
				
			</div>
		</div>   
    </div>
	</div>
  </div>
</div>
</div></div>