
<div class="jumbotron header">
	<div style="text-align: center; color: #000000;">
		<h1 style="margin-top: 100px;">
			 <span style="color: green;">Thank </span>you !
		</h1>
		<div class="circle" style="background-color:green; margin: auto; padding-top: 5px; height: 150px;width: 150px;">
			<div class="circle" style="width: 140px; height: 140px; background-color: #f1f1f1;padding-top: 20px;margin: auto;">
				<span class="glyphicon glyphicon-ok" style="font-size: 90px;"></span>		
			</div>
		</div>
		<p style="margin-top: 20px;">You are now part of <span style="color: orange;">Fete</span> family.<br>Please see your email inbox/spam folder for login details. Happy
Celebrations.</p>
		<h1>
			<button class="btn btn-success btn-lg" style="color: #ffffff;" data-toggle="modal" data-target="#loginModal">Login</button>
		</h1>
	</div>
</div>
