<footer class="footer footer-transparent">
	<div class="container">
		<nav class="pull-left">
			<ul>
				<li><a href="http://neelabhs.heliohost.org"> Fete Team </a></li>
				<li><a href="#"> About Us </a></li>
				<li><a href="#"> Blog </a></li>
				<li><a href="#addRestaurant">Venue Registration</a></li>
			</ul>
		</nav>
		<div class="social-area pull-right">
			<a class="btn btn-just-icon btn-twitter btn-simple"
				href="https://twitter.com"> <i class="fa fa-twitter"></i>
			</a> <a class="btn btn-just-icon btn-facebook btn-simple"
				href="https://www.facebook.com"> <i
				class="fa fa-facebook-square"></i>
			</a> <a class="btn btn-just-icon btn-google btn-simple"
				href="https://plus.google.com"> <i class="fa fa-google-plus"></i>
			</a> <a class="btn btn-just-icon btn-instagram btn-simple"
				href="https://www.instagram.com"> <i class="fa fa-instagram"></i>
			</a>
		</div>
		<div class="copyright">
			&copy;
			2017 Fete, made with love
		</div>
	</div>
</footer>